<!doctype html>
<html>
  <head>
    <title><%=appName%> - About</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=appName%></h1>
    <p>For all your student-to-student module chat!</p>
    <a href="/" class="menu">Home</a>
    <hr/>
  </body>
</html>